body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: "thirdp";
    background-image: url('thirdplacebg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

h1 {
    color: #333;
}

.logo-body {
    font-size: 6em;
    font-weight: bold;
    background: linear-gradient(to right, #0f0e0c, #934110);
    font-family: 'Arial Rounded MT Bold', 'Verdana', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.31), 0px 0px 20px rgba(255, 174, 96, 0.8);
}

.logo-body::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    /* Adjust size to fit the text */
    height: 60%;
    /* Adjust height to fit the text */
    background: radial-gradient(ellipse, rgba(251, 205, 178, 0.68) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
    /* Places it behind the text */
    border-radius: 50%;
    /* Ensures the oval shape */
}

.account-pane {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 45vw;
    background-color: #f2b566;
    position: relative;
    left: 30%;
    border-radius: 20% 20% 30% 5px;
    border: 5px double #c16400;
    align-items: center;
}

.fields-container {
    display: flex;
    width: 90%;
}

.separator {
    width: 2%;
    background-color: #ad5a0d;
    height: 90%;
    border-radius: 4px 4px 4px 4px;
}

.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #fb8c00;
}