/* Main container */
.main-container {
    display: flex;
    height: 100vh;
    background-color: lightgray;
    justify-content: center;
}

/* Chat window container */
.chat-window {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main circle background */
.circle-background {
    width: 1000px;
    height: 500px;
    background-image: radial-gradient(circle, #02020d, #353544);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Left conversation container */
.left-conversation {
    position: relative;
    left: -11vw;
    top: -3vh;
}

/* Right conversation container */
.right-conversation {
    position: relative;
    left: 15vw;
    top: 5vh;
}

/* Selected conversation panel */
.conversation-panel {
    width: 40vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
}

/* Bottom chat input area */
.chat-input-container {
    position: absolute;
    bottom: 0;
    width: 80vw;
    height: 20vh;
    background-color: white;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
}

/* Messages container */
.messages-container {
    width: 90%;
    flex: 4;
    border: 2px solid gray;
}

/* Chat input field */
.chat-input {
    width: 90%;
    flex: 1;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 1%;
    position: relative;
    bottom: 0px;
    padding-bottom: 5px;
}

/* Conversation bubble */
.conversation-bubble {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-container input {
    flex: 1; /* Take up all available space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

.input-container .send-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.input-container .send-button:hover {
    background-color: #0056b3;
}